html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "PT Mono", monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(35, 15, 55), rgb(15, 5, 25)) !important;
  overflow-x: hidden;
}
